@font-face {
    font-family: 'pacmanFont';
    src: url('joystix monospace.ttf');
}

html,
body {
  font-family: pacmanFont;
  background: #070707;
  color: white;
  font-size: 18pt;
}

.ijkl {
  display: flex;
  flex-wrap: wrap;
  height: 620px;
  width: 560px;
}

#livesLeft {
  display: flex;
}

div#livesLeft .pacmanLeft315 {
  zoom: 0.4;
  margin-right: 4px;
}

.ze {
  height: 20px;
  width: 20px;
}

.B1 {
  height: 20px;
  width: 20px;
}

.B1::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 12.5px 0 #3867fc, 15px 0 #3867fc, 17.5px 0 #3867fc, 20px 0 #3867fc, 7.5px 2.5px #3867fc, 10px 2.5px #3867fc, 5px 5px #3867fc, 5px 7.5px #3867fc, 15px 7.5px #3867fc, 17.5px 7.5px #3867fc, 20px 7.5px #3867fc, 2.5px 10px #3867fc, 12.5px 10px #3867fc, 2.5px 12.5px #3867fc, 10px 12.5px #3867fc, 2.5px 15px #3867fc, 10px 15px #3867fc, 2.5px 17.5px #3867fc, 10px 17.5px #3867fc;
}

.B7 {
  height: 20px;
  width: 20px;
}

.B7::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 0 #3867fc, 5px 0 #3867fc, 7.5px 0 #3867fc, 10px 0 #3867fc, 12.5px 2.5px #3867fc, 15px 2.5px #3867fc, 17.5px 5px #3867fc, 2.5px 7.5px #3867fc, 5px 7.5px #3867fc, 7.5px 7.5px #3867fc, 17.5px 7.5px #3867fc, 10px 10px #3867fc, 20px 10px #3867fc, 12.5px 12.5px #3867fc, 20px 12.5px #3867fc, 12.5px 15px #3867fc, 20px 15px #3867fc, 12.5px 17.5px #3867fc, 20px 17.5px #3867fc;
}

.B5 {
  height: 20px;
  width: 20px;
}

.B5::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 12.5px 0 #3867fc, 20px 0 #3867fc, 12.5px 2.5px #3867fc, 20px 2.5px #3867fc, 12.5px 5px #3867fc, 20px 5px #3867fc, 10px 7.5px #3867fc, 20px 7.5px #3867fc, 2.5px 10px #3867fc, 5px 10px #3867fc, 7.5px 10px #3867fc, 17.5px 10px #3867fc, 17.5px 12.5px #3867fc, 12.5px 15px #3867fc, 15px 15px #3867fc, 2.5px 17.5px #3867fc, 5px 17.5px #3867fc, 7.5px 17.5px #3867fc, 10px 17.5px #3867fc;
}

.B3 {
  height: 20px;
  width: 20px;
}

.B3::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 0 #3867fc, 10px 0 #3867fc, 2.5px 2.5px #3867fc, 10px 2.5px #3867fc, 2.5px 5px #3867fc, 10px 5px #3867fc, 2.5px 7.5px #3867fc, 12.5px 7.5px #3867fc, 5px 10px #3867fc, 15px 10px #3867fc, 17.5px 10px #3867fc, 20px 10px #3867fc, 5px 12.5px #3867fc, 7.5px 15px #3867fc, 10px 15px #3867fc, 12.5px 17.5px #3867fc, 15px 17.5px #3867fc, 17.5px 17.5px #3867fc, 20px 17.5px #3867fc;
}

.B2 {
  height: 20px;
  width: 20px;
}

.B2::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 12.5px 0 #3867fc, 20px 0 #3867fc, 12.5px 2.5px #3867fc, 20px 2.5px #3867fc, 12.5px 5px #3867fc, 20px 5px #3867fc, 12.5px 7.5px #3867fc, 20px 7.5px #3867fc, 12.5px 10px #3867fc, 20px 10px #3867fc, 12.5px 12.5px #3867fc, 20px 12.5px #3867fc, 12.5px 15px #3867fc, 20px 15px #3867fc, 12.5px 17.5px #3867fc, 20px 17.5px #3867fc;
}

.B6 {
  height: 20px;
  width: 20px;
}

.B6::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 0 #3867fc, 10px 0 #3867fc, 2.5px 2.5px #3867fc, 10px 2.5px #3867fc, 2.5px 5px #3867fc, 10px 5px #3867fc, 2.5px 7.5px #3867fc, 10px 7.5px #3867fc, 2.5px 10px #3867fc, 10px 10px #3867fc, 2.5px 12.5px #3867fc, 10px 12.5px #3867fc, 2.5px 15px #3867fc, 10px 15px #3867fc, 2.5px 17.5px #3867fc, 10px 17.5px #3867fc;
}

.b8 {
  height: 20px;
  width: 20px;
}

.b8::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 10px #3867fc, 5px 10px #3867fc, 7.5px 10px #3867fc, 10px 10px #3867fc, 12.5px 10px #3867fc, 15px 10px #3867fc, 17.5px 10px #3867fc, 20px 10px #3867fc;
  /* row 5 */
  /* row 6 */
  /* row 7 */
}

.b7 {
  height: 20px;
  width: 20px;
}

.b7::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 10px #3867fc, 5px 10px #3867fc, 7.5px 12.5px #3867fc, 10px 15px #3867fc, 10px 17.5px #3867fc;
}

.b1 {
  height: 20px;
  width: 20px;
}

.b1::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 17.5px 10px #3867fc, 20px 10px #3867fc, 15px 12.5px #3867fc, 12.5px 15px #3867fc, 12.5px 17.5px #3867fc;
}

.b4 {
  height: 20px;
  width: 20px;
}

.b4::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 7.5px #3867fc, 5px 7.5px #3867fc, 7.5px 7.5px #3867fc, 10px 7.5px #3867fc, 12.5px 7.5px #3867fc, 15px 7.5px #3867fc, 17.5px 7.5px #3867fc, 20px 7.5px #3867fc;
  /* row 4 */
  /* row 5 */
  /* row 6 */
  /* row 7 */
}

.b5 {
  height: 20px;
  width: 20px;
}

.b5::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 10px 0 #3867fc, 10px 2.5px #3867fc, 7.5px 5px #3867fc, 2.5px 7.5px #3867fc, 5px 7.5px #3867fc;
  /* row 4 */
  /* row 5 */
  /* row 6 */
  /* row 7 */
}

.b3 {
  height: 20px;
  width: 20px;
}

.b3::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 12.5px 0 #3867fc, 12.5px 2.5px #3867fc, 15px 5px #3867fc, 20px 7.5px #3867fc, 17.5px 7.5px #3867fc;
  /* row 4 */
  /* row 5 */
  /* row 6 */
  /* row 7 */
}

.b6 {
  height: 20px;
  width: 20px;
}

.b6::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 10px 0 #3867fc, 10px 2.5px #3867fc, 10px 5px #3867fc, 10px 7.5px #3867fc, 10px 10px #3867fc, 10px 12.5px #3867fc, 10px 15px #3867fc, 10px 17.5px #3867fc;
}

.b2 {
  height: 20px;
  width: 20px;
}

.b2::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 12.5px 0 #3867fc, 12.5px 2.5px #3867fc, 12.5px 5px #3867fc, 12.5px 7.5px #3867fc, 12.5px 10px #3867fc, 12.5px 12.5px #3867fc, 12.5px 15px #3867fc, 12.5px 17.5px #3867fc;
}

.H5 {
  height: 20px;
  width: 20px;
}

.H5::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 0 #3867fc, 10px 0 #3867fc, 10px 2.5px #3867fc, 10px 5px #3867fc, 2.5px 7.5px #3867fc, 5px 7.5px #3867fc, 7.5px 7.5px #3867fc, 10px 7.5px #3867fc;
  /* row 4 */
  /* row 5 */
  /* row 6 */
  /* row 7 */
}

.H3 {
  height: 20px;
  width: 20px;
}

.H3::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 12.5px 0 #3867fc, 20px 0 #3867fc, 12.5px 2.5px #3867fc, 12.5px 5px #3867fc, 12.5px 7.5px #3867fc, 15px 7.5px #3867fc, 17.5px 7.5px #3867fc, 20px 7.5px #3867fc;
  /* row 4 */
  /* row 5 */
  /* row 6 */
  /* row 7 */
}

.H1 {
  height: 20px;
  width: 20px;
}

.H1::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 12.5px 10px #3867fc, 15px 10px #3867fc, 17.5px 10px #3867fc, 20px 10px #3867fc, 12.5px 12.5px #3867fc, 12.5px 15px #3867fc, 12.5px 17.5px #3867fc, 20px 17.5px #3867fc;
}

.H7 {
  height: 20px;
  width: 20px;
}

.H7::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 10px #3867fc, 5px 10px #3867fc, 7.5px 10px #3867fc, 10px 10px #3867fc, 10px 12.5px #3867fc, 10px 15px #3867fc, 2.5px 17.5px #3867fc, 10px 17.5px #3867fc;
}

.pp {
  height: 20px;
  width: 20px;
}

.pp::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 10px 7.5px #e0e0e0, 12.5px 7.5px #e0e0e0, 10px 10px #e0e0e0, 12.5px 10px #e0e0e0;
  /* row 5 */
  /* row 6 */
  /* row 7 */
}

.PP {
  height: 20px;
  width: 20px;
}

.PP::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 7.5px 0 #e0e0e0, 10px 0 #e0e0e0, 12.5px 0 #e0e0e0, 15px 0 #e0e0e0, 5px 2.5px #e0e0e0, 7.5px 2.5px #e0e0e0, 10px 2.5px #e0e0e0, 12.5px 2.5px #e0e0e0, 15px 2.5px #e0e0e0, 17.5px 2.5px #e0e0e0, 2.5px 5px #e0e0e0, 5px 5px #e0e0e0, 7.5px 5px #e0e0e0, 10px 5px #e0e0e0, 12.5px 5px #e0e0e0, 15px 5px #e0e0e0, 17.5px 5px #e0e0e0, 20px 5px #e0e0e0, 2.5px 7.5px #e0e0e0, 5px 7.5px #e0e0e0, 7.5px 7.5px #e0e0e0, 10px 7.5px #e0e0e0, 12.5px 7.5px #e0e0e0, 15px 7.5px #e0e0e0, 17.5px 7.5px #e0e0e0, 20px 7.5px #e0e0e0, 2.5px 10px #e0e0e0, 5px 10px #e0e0e0, 7.5px 10px #e0e0e0, 10px 10px #e0e0e0, 12.5px 10px #e0e0e0, 15px 10px #e0e0e0, 17.5px 10px #e0e0e0, 20px 10px #e0e0e0, 2.5px 12.5px #e0e0e0, 5px 12.5px #e0e0e0, 7.5px 12.5px #e0e0e0, 10px 12.5px #e0e0e0, 12.5px 12.5px #e0e0e0, 15px 12.5px #e0e0e0, 17.5px 12.5px #e0e0e0, 20px 12.5px #e0e0e0, 5px 15px #e0e0e0, 7.5px 15px #e0e0e0, 10px 15px #e0e0e0, 12.5px 15px #e0e0e0, 15px 15px #e0e0e0, 17.5px 15px #e0e0e0, 7.5px 17.5px #e0e0e0, 10px 17.5px #e0e0e0, 12.5px 17.5px #e0e0e0, 15px 17.5px #e0e0e0;
}

.H8 {
  height: 20px;
  width: 20px;
}

.H8::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 12.5px #f2b8ff, 5px 12.5px #f2b8ff, 7.5px 12.5px #f2b8ff, 10px 12.5px #f2b8ff, 12.5px 12.5px #f2b8ff, 15px 12.5px #f2b8ff, 17.5px 12.5px #f2b8ff, 20px 12.5px #f2b8ff, 2.5px 15px #f2b8ff, 5px 15px #f2b8ff, 7.5px 15px #f2b8ff, 10px 15px #f2b8ff, 12.5px 15px #f2b8ff, 15px 15px #f2b8ff, 17.5px 15px #f2b8ff, 20px 15px #f2b8ff;
  /* row 7 */
}

.B8 {
  height: 20px;
  width: 20px;
}

.B8::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 10px #3867fc, 5px 10px #3867fc, 7.5px 10px #3867fc, 10px 10px #3867fc, 12.5px 10px #3867fc, 15px 10px #3867fc, 17.5px 10px #3867fc, 20px 10px #3867fc, 2.5px 17.5px #3867fc, 5px 17.5px #3867fc, 7.5px 17.5px #3867fc, 10px 17.5px #3867fc, 12.5px 17.5px #3867fc, 15px 17.5px #3867fc, 17.5px 17.5px #3867fc, 20px 17.5px #3867fc;
}

.L8 {
  height: 20px;
  width: 20px;
}

.L8::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 10px #3867fc, 5px 10px #3867fc, 7.5px 10px #3867fc, 10px 10px #3867fc, 12.5px 10px #3867fc, 15px 10px #3867fc, 17.5px 10px #3867fc, 20px 10px #3867fc, 20px 12.5px #3867fc, 20px 15px #3867fc, 2.5px 17.5px #3867fc, 5px 17.5px #3867fc, 7.5px 17.5px #3867fc, 10px 17.5px #3867fc, 12.5px 17.5px #3867fc, 15px 17.5px #3867fc, 17.5px 17.5px #3867fc, 20px 17.5px #3867fc;
}

.R8 {
  height: 20px;
  width: 20px;
}

.R8::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 10px #3867fc, 5px 10px #3867fc, 7.5px 10px #3867fc, 10px 10px #3867fc, 12.5px 10px #3867fc, 15px 10px #3867fc, 17.5px 10px #3867fc, 20px 10px #3867fc, 2.5px 12.5px #3867fc, 2.5px 15px #3867fc, 2.5px 17.5px #3867fc, 5px 17.5px #3867fc, 7.5px 17.5px #3867fc, 10px 17.5px #3867fc, 12.5px 17.5px #3867fc, 15px 17.5px #3867fc, 17.5px 17.5px #3867fc, 20px 17.5px #3867fc;
}

.B4 {
  height: 20px;
  width: 20px;
}

.B4::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 0 #3867fc, 5px 0 #3867fc, 7.5px 0 #3867fc, 10px 0 #3867fc, 12.5px 0 #3867fc, 15px 0 #3867fc, 17.5px 0 #3867fc, 20px 0 #3867fc, 2.5px 7.5px #3867fc, 5px 7.5px #3867fc, 7.5px 7.5px #3867fc, 10px 7.5px #3867fc, 12.5px 7.5px #3867fc, 15px 7.5px #3867fc, 17.5px 7.5px #3867fc, 20px 7.5px #3867fc;
  /* row 4 */
  /* row 5 */
  /* row 6 */
  /* row 7 */
}

.E1 {
  height: 20px;
  width: 20px;
}

.E1::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 0 #3867fc, 5px 0 #3867fc, 7.5px 0 #3867fc, 10px 0 #3867fc, 12.5px 0 #3867fc, 15px 0 #3867fc, 17.5px 0 #3867fc, 20px 0 #3867fc, 15px 7.5px #3867fc, 17.5px 7.5px #3867fc, 20px 7.5px #3867fc, 12.5px 10px #3867fc, 10px 12.5px #3867fc, 10px 15px #3867fc, 10px 17.5px #3867fc;
}

.E3 {
  height: 20px;
  width: 20px;
}

.E3::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 0 #3867fc, 10px 0 #3867fc, 2.5px 2.5px #3867fc, 10px 2.5px #3867fc, 2.5px 5px #3867fc, 10px 5px #3867fc, 2.5px 7.5px #3867fc, 12.5px 7.5px #3867fc, 2.5px 10px #3867fc, 15px 10px #3867fc, 17.5px 10px #3867fc, 20px 10px #3867fc, 2.5px 12.5px #3867fc, 2.5px 15px #3867fc, 2.5px 17.5px #3867fc;
}

.E5 {
  height: 20px;
  width: 20px;
}

.E5::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 12.5px 0 #3867fc, 20px 0 #3867fc, 12.5px 2.5px #3867fc, 20px 2.5px #3867fc, 12.5px 5px #3867fc, 20px 5px #3867fc, 10px 7.5px #3867fc, 20px 7.5px #3867fc, 2.5px 10px #3867fc, 5px 10px #3867fc, 7.5px 10px #3867fc, 20px 10px #3867fc, 20px 12.5px #3867fc, 20px 15px #3867fc, 20px 17.5px #3867fc;
}

.E7 {
  height: 20px;
  width: 20px;
}

.E7::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 0 #3867fc, 5px 0 #3867fc, 7.5px 0 #3867fc, 10px 0 #3867fc, 12.5px 0 #3867fc, 15px 0 #3867fc, 17.5px 0 #3867fc, 20px 0 #3867fc, 2.5px 7.5px #3867fc, 5px 7.5px #3867fc, 7.5px 7.5px #3867fc, 10px 10px #3867fc, 12.5px 12.5px #3867fc, 12.5px 15px #3867fc, 12.5px 17.5px #3867fc;
}

.C9 {
  height: 20px;
  width: 20px;
}

.C9::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 20px 0 #3867fc, 20px 2.5px #3867fc, 20px 5px #3867fc, 2.5px 7.5px #3867fc, 5px 7.5px #3867fc, 7.5px 7.5px #3867fc, 20px 7.5px #3867fc, 10px 10px #3867fc, 20px 10px #3867fc, 12.5px 12.5px #3867fc, 20px 12.5px #3867fc, 12.5px 15px #3867fc, 20px 15px #3867fc, 12.5px 17.5px #3867fc, 20px 17.5px #3867fc;
}

.C8 {
  height: 20px;
  width: 20px;
}

.C8::before {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  box-shadow: 2.5px 0 #3867fc, 2.5px 2.5px #3867fc, 2.5px 5px #3867fc, 2.5px 7.5px #3867fc, 15px 7.5px #3867fc, 17.5px 7.5px #3867fc, 20px 7.5px #3867fc, 2.5px 10px #3867fc, 12.5px 10px #3867fc, 2.5px 12.5px #3867fc, 10px 12.5px #3867fc, 2.5px 15px #3867fc, 10px 15px #3867fc, 2.5px 17.5px #3867fc, 10px 17.5px #3867fc;
}



.blinkyRight1, .blinkyRight2, .blinkyLeft1, .blinkyLeft2, .blinkyUp1, .blinkyUp2, .blinkyDown1, .blinkyDown2, 
.inkyRight1, .inkyRight2, .inkyLeft1, .inkyLeft2, .inkyUp1, .inkyUp2, .inkyDown1, .inkyDown2, .pinkyRight1, 
.pinkyRight2, .pinkyLeft1, .pinkyLeft2, .pinkyUp1, .pinkyUp2, .pinkyDown1, .pinkyDown2, .clydeRight1, .clydeRight2, .clydeLeft1, .clydeLeft2, .clydeUp1, .clydeUp2, .clydeDown1, .clydeDown2, 
.ghostBlue1, .ghostBlue2, .ghostWhite1, .ghostWhite2, .eyesRight, .eyesLeft, .eyesUp, .eyesDown, .pacmanBig360, 
.pacmanBig315, .pacmanBig270, .pacmanRight360, .pacmanRight315, .pacmanRight270, .pacmanDown360, .pacmanDown315, 
.pacmanDown270, .pacmanLeft360, .pacmanLeft315, .pacmanLeft270, .pacmanUp360, .pacmanUp315, .pacmanUp270, 
.pacmanDie11, .pacmanDie10, .pacmanDie9, .pacmanDie8, .pacmanDie8, .pacmanDie7, .pacmanDie6, .pacmanDie5, 
.pacmanDie4, .pacmanDie4, .pacmanDie3, .pacmanDie2, .pacmanDie1, .pacmanDie0, .cherry, .strawberry, .orange, .pear, 
.apple, .greenFruit, .flower, .key {
  background-image: url('pacman-sprite.png');
  background-repeat: no-repeat;
  zoom: 0.3572;
  -webkit-transform: rotate(90deg);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////// GHOST BLINKY /*/
.blinkyRight1 {
  background-position: -4px -4px; 
  width: 56px;
  height: 56px;
}
.blinkyRight2 {
  background-position: -68px -4px; 
  width: 56px;
  height: 56px;
}

.blinkyLeft1 {
  background-position: -260px -4px; 
  width: 56px;
  height: 56px;
}
.blinkyLeft2 {
  background-position: -324px -4px; 
  width: 56px;
  height: 56px;
}

.blinkyUp1 {
  background-position: -388px -4px; 
  width: 56px;
  height: 56px;
}
.blinkyUp2 {
  background-position: -452px -4px; 
  width: 56px;
  height: 56px;
}

.blinkyDown1 {
  background-position: -132px -4px; 
  width: 56px;
  height: 56px;
}
.blinkyDown2 {
  background-position: -196px -4px; 
  width: 56px;
  height: 56px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////// GHOST INKY /*/
.inkyRight1 {
  background-position: -4px -68px; 
  width: 56px;
  height: 56px;
}
.inkyRight2 {
  background-position: -68px -68px; 
  width: 56px;
  height: 56px;
}

.inkyDown1 {
  background-position: -132px -68px; 
  width: 56px;
  height: 56px;
}
.inkyDown2 {
  background-position: -196px -68px; 
  width: 56px;
  height: 56px;
}

.inkyLeft1 {
  background-position: -260px -68px; 
  width: 56px;
  height: 56px;
}
.inkyLeft2 {
  background-position: -324px -68px; 
  width: 56px;
  height: 56px;
}

.inkyUp1 {
  background-position: -388px -68px; 
  width: 56px;
  height: 56px;
}
.inkyUp2 {
  background-position: -452px -68px; 
  width: 56px;
  height: 56px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////// GHOST PINKY /*/
.pinkyRight1 {
  background-position: -4px -132px; 
  width: 56px;
  height: 56px;
}
.pinkyRight2 {
  background-position: -68px -132px; 
  width: 56px;
  height: 56px;
}

.pinkyDown1 {
  background-position: -132px -132px; 
  width: 56px;
  height: 56px;
}
.pinkyDown2 {
  background-position: -196px -132px; 
  width: 56px;
  height: 56px;
}

.pinkyLeft1 {
  background-position: -260px -132px; 
  width: 56px;
  height: 56px;
}
.pinkyLeft2 {
  background-position: -324px -132px; 
  width: 56px;
  height: 56px;
}

.pinkyUp1 {
  background-position: -388px -132px; 
  width: 56px;
  height: 56px;
}
.pinkyUp2 {
  background-position: -452px -132px; 
  width: 56px;
  height: 56px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////// GHOST CLYDE /*/
.clydeRight1 {
  background-position: -4px -196px; 
  width: 56px;
  height: 56px;
}
.clydeRight2 {
  background-position: -68px -196px; 
  width: 56px;
  height: 56px;
}

.clydeDown1 {
  background-position: -132px -196px; 
  width: 56px;
  height: 56px;
}
.clydeDown2 {
  background-position: -196px -196px; 
  width: 56px;
  height: 56px;
}

.clydeLeft1 {
  background-position: -260px -196px; 
  width: 56px;
  height: 56px;
}
.clydeLeft2 {
  background-position: -324px -196px; 
  width: 56px;
  height: 56px;
}

.clydeUp1 {
  background-position: -388px -196px; 
  width: 56px;
  height: 56px;
}
.clydeUp2 {
  background-position: -452px -196px; 
  width: 56px;
  height: 56px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////// GHOST BLUE /*/
.ghostBlue1 {
  background-position: -132px -772px; 
  width: 56px;
  height: 56px;
}
.ghostBlue2 {
  background-position: -196px -772px; 
  width: 56px;
  height: 56px;
}

.ghostWhite1 {
  background-position: -260px -772px; 
  width: 56px;
  height: 56px;
}
.ghostWhite2 {
  background-position: -324px -772px; 
  width: 56px;
  height: 56px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////// EYES /*/
.eyesRight {
  background-position: -4px -260px; 
  width: 56px;
  height: 56px;
}
.eyesDown {
  background-position: -68px -260px; 
  width: 56px;
  height: 56px;
}
.eyesLeft {
  background-position: -132px -260px; 
  width: 56px;
  height: 56px;
}
.eyesUp {
  background-position: -196px -260px; 
  width: 56px;
  height: 56px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////// PACMAN /*/
.pacmanBig360 {
  background-position: -4px -640px; 
  width: 124px;
  height: 124px;
}
.pacmanBig315 {
  background-position: -132px -640px; 
  width: 124px;
  height: 124px;
}
.pacmanBig270 {
  background-position: -260px -640px; 
  width: 124px;
  height: 124px;
}

.pacmanRight360 {
  background-position: -6px -326px; 
  width: 56px;
  height: 56px;
}
.pacmanRight315 {
  background-position: -70px -326px; 
  width: 56px;
  height: 56px;
}
.pacmanRight270 {
  background-position: -134px -326px; 
  width: 56px;
  height: 56px;
}

.pacmanDown360 {
  background-position: -194px -326px; 
  width: 56px;
  height: 56px;
}
.pacmanDown315 {
  background-position: -258px -326px; 
  width: 56px;
  height: 56px;
}
.pacmanDown270 {
  background-position: -322px -326px; 
  width: 56px;
  height: 56px;
}

.pacmanLeft360 {
  background-position: -6px -386px; 
  width: 56px;
  height: 56px;
}
.pacmanLeft270 {
  background-position: -70px -386px; 
  width: 56px;
  height: 56px;
}
.pacmanLeft315 {
  background-position: -134px -386px; 
  width: 56px;
  height: 56px;
}

.pacmanUp360 {
  background-position: -198px -390px; 
  width: 56px;
  height: 56px;
}
.pacmanUp270 {
  background-position: -262px -390px; 
  width: 56px;
  height: 56px;
}
.pacmanUp315 {
  background-position: -326px -390px; 
  width: 56px;
  height: 56px;
}

.pacmanDie11 {
  background-position: -6px -450px; 
  width: 56px;
  height: 56px;
}
.pacmanDie10 {
  background-position: -60px -450px; 
  width: 56px;
  height: 56px;
}
.pacmanDie9 {
  background-position: -122px -450px; 
  width: 56px;
  height: 56px;
}
.pacmanDie8 {
  background-position: -187px -450px; 
  width: 56px;
  height: 56px;
}
.pacmanDie7 { 
  background-position: -250px -450px; 
  width: 56px;
  height: 56px;
}
.pacmanDie6 {
  background-position: -318px -450px; 
  width: 56px;
  height: 56px;
}
.pacmanDie5 {
  background-position: -386px -450px; 
  width: 56px;
  height: 56px;
}
.pacmanDie4 {
  background-position: -454px -450px; 
  width: 56px;
  height: 56px;
}
.pacmanDie3 {
  background-position: -6px -513px; 
  width: 56px;
  height: 56px;
}
.pacmanDie2 {
  background-position: -70px -514px; 
  width: 56px;
  height: 56px;
}
.pacmanDie1 {
  background-position: -131px -514px; 
  width: 56px;
  height: 56px;
}
.pacmanDie0 {
  background-position: -203px -514px; 
  width: 56px;
  height: 56px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////// FRUITS /*/
.cherry {
  background-position: -3px -580px; 
  width: 56px;
  height: 56px;
}
.strawberry {
  background-position: -68px -582px; 
  width: 56px;
  height: 56px;
}
.orange {
  background-position: -132px -580px; 
  width: 56px;
  height: 56px;
}
.pear {
  background-position: -198px -580px; 
  width: 56px;
  height: 56px;
}
.apple {
  background-position: -260px -580px; 
  width: 56px;
  height: 56px;
}
.greenFruit {
  background-position: -323px -578px; 
  width: 56px;
  height: 56px;
}
.flower {
  background-position: -390px -581px; 
  width: 56px;
  height: 56px;
}
.key {
  background-position: -454px -581px; 
  width: 56px;
  height: 56px;
}